menu "Custom"

    config HEAP_LOG
        bool "Enable heap logging"
        default n
        help
            Enable heap logging.

    config TIME_LOG
        bool "Enable time logging"
        default n
        help
            Enable time logging.

    config QUANTIZATION_BITS_16
        bool "Use 16-bit quantization"
        default y
        help
            Use 16-bit quantization instead of 8-bit.
   
endmenu