*.h5
*.pyc 
.vscode/
.DS_Store
ignore/

# Intermediate models
src/model/checkpoints/*
src/model/onnx_birdnet/*
src/model/tf_birdnet/*
src/model/quantization_params/*
!src/model/checkpoints/.gitkeep
!src/model/onnx_birdnet/.gitkeep
!src/model/tf_birdnet/.gitkeep
!src/model/quantization_params/.gitkeep

# Data
data/*
!data/audio
data/audio/*
!data/audio/.gitkeep

# Virtual environments
.venv/
venv/

# Build
build/

# Heap
trace/
heaptrace-gdbinit

# ESP IDF
partition_table/
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old