.vscode/

*.pyc 
src/esp-dl/*

#models/cpp/*
models/onnx/*
models/torch/*
!models/cpp/.gitkeep
!models/onnx/.gitkeep
!models/torch/.gitkeep

*.h5

data/*
!data/audio
data/audio/*
!data/audio/.gitkeep


venv/
build/
# automatic dependences created by ESP32 IDF framework
managed_components/

dependencies.lock

.DS_Store