CONFIG_IDF_TARGET="esp32s3"

# LoRa(?)
#CONFIG_MISO_GPIO=4
#CONFIG_SCK_GPIO=6
#CONFIG_MOSI_GPIO=15
#CONFIG_CS_GPIO=17
#CONFIG_RST_GPIO=8
#CONFIG_ADVANCED=y
#CONFIG_COMPILER_DISABLE_GCC12_WARNINGS=y

# Extend app partition size
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# SPI RAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_RODATA=n
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=n

# Panic behaviour
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y

# Watchdog
CONFIG_ESP_TASK_WDT_EN=n

# Heap tracing
CONFIG_HEAP_TRACING_STANDALONE=n
